#search .nov_info {
    width:1200px;
    margin:0 auto;
    margin-top:15px;
    height:auto;
    min-height:400px
}
#search .nov_info .el-card {
    height:80px;
    cursor:pointer
}
#search .nov_info .more {
    background:#f5f5f5;
    border-color:#f5f5f5;
    border:1px solid transparent;
    box-shadow:0 1px 1px rgba(0,0,0,.05);
    width:100%;
    height:42px;
    line-height:40px;
    margin-top:16px;
    cursor:pointer;
    text-align:center;
    font-size:13px;
    color:#606266
}
#search .nov_info .base-info {
    height:30px;
    line-height:30px
}
#search .nov_info .base-info span {
    display:inline-block
}
#search .nov_info .base-info .classify {
    font-size:12px;
    color:#fff;
    padding:0 10px;
    border-radius:20px;
    margin-right:3px;
    height:22px;
    line-height:22px
}
#search .nov_info .base-info .counts {
    padding-left:5px;
    height:22px;
    line-height:22px
}
#search .nov_info .base-info .counts i {
    font-size:16px!important
}
#search .nov_info .base-info .number {
    font-size:13px;
    padding-left:2px;
    color:#909399
}
#search .nov_info .base-info .name {
    font-size:16px
}
#search .nov_info .name a {
    text-decoration:none;
    color:#333
}
#search .nov_info .updateTime {
    float:right;
    font-size:13px;
    color:#909399
}
#search .nov_info .brief-info {
    height:30px;
    line-height:30px;
    font-size:13px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
#search .nov_info .coatard {
    border-left:4px solid #f7941e
}
#search .nov_info .base-info .coatard {
    background:#f7941e
}
#search .nov_info .city {
    border-left:4px solid #2894cc
}
#search .nov_info .base-info .city {
    background:#2894cc
}
#search .nov_info .across {
    border-left:4px solid #f24551
}
#search .nov_info .base-info .across {
    background:#f24551
}
#search .nov_info .science {
    border-left:4px solid #45a7f2
}
#search .nov_info .base-info .science {
    background:#45a7f2
}
#search .nov_info .fantasy {
    border-left:4px solid #f8b668
}
#search .nov_info .base-info .fantasy {
    background:#f8b668
}
#search .nov_info .game {
    border-left:4px solid #28cc56
}
#search .nov_info .base-info .game {
    background:#28cc56
}
@-webkit-keyframes advAni {
    0% {
        height:0
    }
    25% {
        height:25px
    }
    50% {
        height:50px
    }
    75% {
        height:75px
    }
    100% {
        height:100px
    }
}.el-loading-spinner {
     top:10%
 }
.tip {
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:14px;
    color:#909399;
}
.spinner {
    margin:0 auto;
    width:150px;
    height:40px;
    line-height:40px;
    text-align:center
}
.spinner>div {
    width:15px;
    height:15px;
    background-color:#f7941e;
    border-radius:100%;
    display:inline-block;
    -webkit-animation:bouncedelay 1.4s infinite ease-in-out;
    animation:bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.spinner .bounce1 {
    -webkit-animation-delay:-0.32s;
    animation-delay:-0.32s
}
.spinner .bounce2 {
    -webkit-animation-delay:-0.16s;
    animation-delay:-0.16s
}
@-webkit-keyframes bouncedelay {
    0%,80%,100% {
        -webkit-transform:scale(0.0)
    }
    40% {
        -webkit-transform:scale(1.0)
    }
}
@keyframes bouncedelay {
    0%,80%,100% {
        transform:scale(0.0);
        -webkit-transform:scale(0.0)
    }
    40% {
        transform:scale(1.0);
        -webkit-transform:scale(1.0)
    }
}