<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>可读小说</title>
	<link rel="stylesheet" type="text/css" href="/css/mobi/index.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="/css/mobi/public.css"/>
	<link rel="stylesheet" type="text/css" href="/css/mobi/chapter.css"/>
	<script type="text/javascript" src="/js/vue.min.js"></script>
	<script type="text/javascript" src="/js/mobi/index.min.js"></script>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div id="novel">
		<mt-header th:title="${novel.name}">
			<router-link slot="left">
				<mt-button icon="back" @click="toBack"></mt-button>
			</router-link>
			<mt-button icon="more" slot="right"></mt-button>
		</mt-header>
		<div class="kd_content">
			<div class="kd_info">
				<span class="kd_tag" th:if="${novel.cid == 1}">修真</span>
				<span class="kd_tag" th:if="${novel.cid == 2}">都市</span>
				<span class="kd_tag" th:if="${novel.cid == 3}">穿越</span>
				<span class="kd_tag" th:if="${novel.cid == 4}">玄幻</span>
				<span class="kd_tag" th:if="${novel.cid == 5}">科幻</span>
				<span class="kd_tag" th:if="${novel.cid == 6}">网游</span>
				<span class="kd_title" th:text="${novel.name}"></span>
			</div>
			<div class="kd_author_info">
				<span class="kd_author" >· <span th:text="${novel.author}"></span></span>
				<span class="kd_status">· <span th:text="${novel.status}"></span></span>
				<span class="kd_time">· <span th:text="${novel.uptime}"></span></span>
			</div>
			<div class="kd_desc">
				<div class="title">小说简介<span class="iconfont icon-more" @click="allDesc"></span></div>
				<div class="info" th:text="${novel.brief}"></div>
			</div>
			<div class="kd_list">
				<div class="title">章节信息</div>
				<div class="loading" v-if="loading">
					<mt-spinner :type="2" :size="35" color="#F7941E"></mt-spinner>
				</div>
				<div class="list">
					<span v-for="(item, index) in list" @click="chInfo(item.id)">{{item.name}}</span>
					<div class="tip">· 好像到底了，持续更新中 ·</div>
				</div>
				<div class="all" v-if="showAll">
					<span class="btn" @click="allChapter">展开全部</span>
				</div>
			</div>
		</div>
		<footer class="footer">Copyright &copy; 2017-2018 可读网 粤ICP备17005112号</footer>
	</div>
</body>
<script type="text/javascript">
	var id = [[${id}]];
</script>
<script type="text/javascript" src="/js/mobi/chapter.js"></script>
</html>