<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>可读小说</title>
	<link rel="stylesheet" type="text/css" href="/css/mobi/index.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/mobi/public.css"/>
	<script type="text/javascript" src="/js/vue.min.js"></script>
	<script type="text/javascript" src="/js/mobi/index.min.js"></script>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<style type="text/css">
		html, body{background-color: #fffdf8;}
		.kd_content{padding: 10px;height: 100%;margin-top: 40px;background-color: #fffdf8;color: #666;}
		.kd_content .title{font-size: 18px;height: 35px;border-bottom: 1px solid #c8c7cc;color: #41a863;}
		.kd_content .info{font-size: 14px;margin-top: 15px;line-height: 1.5;}
	</style>
</head>
<body>
	<div id="novel">
		<mt-header th:title="${title}" fixed>
			<router-link slot="left">
				<mt-button icon="back" @click="toBack"></mt-button>
			</router-link>
			<mt-button icon="more" slot="right"></mt-button>
		</mt-header>
		<div class="kd_content">
			<div class="title" v-html="name"></div>
			<div class="info" v-html="content"></div>
			<div>
				<span class="pre" @click="pre">上一章</span>
				<span class="next" @click="next">下一章</span>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
    var info = {
        nId: [[${nId}]],
        cId: [[${cId}]],
		start: [[${start}]],
		end: [[${end}]]
    }
    console.log(info);
</script>
<script type="text/javascript" src="/js/mobi/info.js"></script>
</html>