.noveInfo {
    background: #f1f1f1;
    color: #333;
    height: auto;
    width: 1200px;
    min-height: 600px;
    margin: 0 auto;
    position: relative;
}

.noveInfo .content-left {
    width: 65%;
    height: 100%;
    float: left;
    background: #fff;
    border-color: #f0f0f0;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.content-left .kd-top {
    margin: 0px 28px;
    border-bottom: 1px dashed #eee;
    line-height: 30px;
    font-size: 16px;
    color: #333;
}

.kd-top .kd-title {
    font-size: 20px;
    line-height: 21px;
    padding: 30px 0px 17px 0px;
    font-weight: bold;
}

.kd-top .kd-bar {
    height: 24px;
    margin-bottom: 18px;
}

.kd-top .kd-bar .kd-txt {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 12px;
    color: #999;
    margin: 6px 0px;
}

.kd-top .kd-bar .kd-line {
    display: inline-block;
    vertical-align: top;
    height: 12px;
    width: 0px;
    border-left: 1px solid #999;
    margin: 6px 10px;
}

.content-left .kd-art-content {
    font-size: 16px;
    line-height: 28px;
    margin: 15px 28px;
    color: #333;
}

.content-left .options {
    height: 30px;
    line-height: 30px;
    border-top: 1px dashed #eee;
    margin-top: 20px;
    padding: 20px 28px;
}


/*分享图标*/

.options .share {
    display: inline-block;
}

.options .share .iconfont {
    display: inline-block;
    margin-right: 5px;
    font-size: 25px !important;
    cursor: pointer;
}

.options .share .icon-weixin {
    color: #50b674;
}

.options .share .icon-weibo {
    color: #ea5d5c;
}

.options .section {
    float: right;
    display: inline-block;
}

.options .section div {
    display: inline-block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    background: #f5f5f5;
    border: 1px solid transparent;
    border-color: #f5f5f5;
    cursor: pointer;
    transition: .3s;
    border-radius: 4px;
}

.options .section div:hover {
    border-color: #F7941E;
    background: #F7941E;
    color: #fff;
}

.noveInfo .content-right {
    width: 30%;
    height: 720px;
    position: absolute;
    right: 0px;
    background: #fff;
    border-color: #f0f0f0;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    padding: 0 20px;
}

.content-right .current {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: #F7941E;
    border-bottom: 1px dashed #eee;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-right .list {
    height: 600px;
    border-bottom: 1px dashed #eee;
    padding: 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-right .list a{
    height: 30px;
    display: block;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    padding: 0 10px;
}

.content-right .list a:hover{
    text-decoration: underline;
    color: #F7941E;
}

.content-right .counts {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}

.content-right .counts .cur {
    width: 65%;
    height: 50px;
    line-height: 50px;
}

.el-progress {
    display: inline;
}

.el-progress-bar {
    width: 40%;
}

.content-right .counts .all {
    display: inline;
    width: 30%;
    height: 50px;
    line-height: 50px;
    float: right;
    text-align: right;
}

.content-right .notice {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    color: #d6d5d5;
}

/*滚动条样式*/
.content-right .list::-webkit-scrollbar {
    width: 3px;
}

.content-right .list::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #d6d5d5;
}

.content-right .list::-webkit-scrollbar-track {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #f1f1f1;
}

/*广告*/
.info-adv{
    position: absolute;
    width: 400px;
    height: 100px;
    right: 0;
    top: 760px;
    background: #fff;
    border-color: #f0f0f0;
    border:1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.info-adv .icon-close{
    float: right;
    cursor: pointer;
    font-size: 15px !important;
    opacity: 0.8;

}

.tab-adv{
    position: fixed;
    left: 10px;
    bottom: 15px;
    width: 150px;
    height: 200px;
    background: #fff;
    border-color: #f0f0f0;
    border:1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    z-index: 99;
}

.tab-adv .icon-close{
    float: right;
    cursor: pointer;
    font-size: 15px !important;
    opacity: 0.8;
}

.content-right .list .active{
    color: #F7941E;
}

#app::-webkit-scrollbar{
    width: 0;
}
