.el-main .topAdv{
    width: 1200px;
    height: 100px;
    background-color: #fff;
    margin: 0 auto;
    animation:advAni .5s;
    -webkit-animation:advAni .5s;
    animation-fill-mode: forwards;
}

.topAdv .icon-close{
    cursor: pointer;
    float: right;
    font-size: 15px !important;
    opacity: 0.8;
}

.el-main .moreInfo{
    width: 1200px;
    margin: 0 auto;
    border-color: #f0f0f0;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

#more .nov_info {
    width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
    height: auto;
}

#more .nov_info .el-card {
    height: 80px;
    cursor: pointer;
}

#more .nov_info .more {
    background: #f5f5f5;
    border-color: #f5f5f5;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    width: 100%;
    height: 42px;
    line-height: 40px;
    margin-top: 16px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    color: #606266;
}

#more .nov_info .base-info {
    height: 30px;
    line-height: 30px;
}

#more .nov_info .base-info span {
    display: inline-block;
}

#more .nov_info .base-info .classify {
    font-size: 12px;
    color: #fff;
    padding: 0px 10px;
    border-radius: 20px;
    margin-right: 3px;
    height: 22px;
    line-height: 22px;
}

#more .nov_info .base-info .counts {
    padding-left: 5px;
    height: 22px;
    line-height: 22px;
}

#more .nov_info .base-info .counts i {
    font-size: 16px !important;
}

#more .nov_info .base-info .number {
    font-size: 13px;
    padding-left: 2px;
    color: #909399;
}

#more .nov_info .base-info .name {
    font-size: 16px;
}

#more .nov_info .name a {
    text-decoration: none;
    color: #333;
}

#more .nov_info .updateTime {
    float: right;
    font-size: 13px;
    color: #909399;
}

#more .nov_info .brief-info {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 修真背景色 */
#more .nov_info .coatard {
    border-left: 4px solid #F7941E;
}

#more .nov_info .base-info .coatard {
    background: #F7941E;
}

/* 都市背景色 */
#more .nov_info .city {
    border-left: 4px solid #2894cc;
}

#more .nov_info .base-info .city {
    background: #2894cc;
}

/* 穿越背景色 */
#more .nov_info .across {
    border-left: 4px solid #f24551;
}

#more .nov_info .base-info .across {
    background: #f24551
}


/* 科幻背景色 */
#more .nov_info .science {
    border-left: 4px solid #45a7f2;
}

#more .nov_info .base-info .science {
    background: #45a7f2;
}

/* 玄幻背景色 */
#more .nov_info .fantasy {
    border-left: 4px solid #f8b668;
}

#more .nov_info .base-info .fantasy {
    background: #f8b668
}


/* 网游背景色 */
#more .nov_info .game {
    border-left: 4px solid #28cc56;
}

#more .nov_info .base-info .game {
    background: #28cc56
}

#more .el-pagination{
    width: 1200px;
    margin: 20px auto 0px auto;
    text-align: right;
    font-weight: normal;
}

@-webkit-keyframes advAni
{
    0%   {height: 0px;}
    25%  {height: 25px;}
    50%  {height: 50px;}
    75%  {height: 75px;}
    100% {height: 100px;}
}