<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>可读小说-关于我们</title>
    <link rel="stylesheet" href="/css/index.min.css" />
    <link rel="stylesheet" href="/css/iconfont.css" />
    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/index.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div th:replace="header::top"></div>
<el-main id="app">
    <div class="tip">

    </div>
    <div class="info">

    </div>
</el-main>
<div th:replace="footer::bottom"></div>
</body>
<script type="text/javascript" src="/js/public.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {

        },
        methods: {

        }
    });
</script>
</html>