<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>可读小说-关于我们</title>
    <link rel="stylesheet" href="/css/index.min.css" />
    <link rel="stylesheet" href="/css/iconfont.css" />
    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/index.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>
</head>
<body>
<div th:replace="header::top"></div>
<el-main id="app">
    <div class="info">
        <template>
            <el-tabs :tab-position="tabPosition">
                <el-tab-pane label="关于可读">
                    <div class="info">
                        <div class="desc">
                            <div class="iconfont icon-mianfeishichang"></div>
                            <span class="title">简单专注，资源共享</span>
                        </div>
                        <div class="desc">
                            <div class="iconfont icon-shangbangcishu"></div>
                            <span class="title">类型较多，内容丰富</span>
                        </div>
                        <div class="desc">
                            <div class="iconfont icon-selected"></div>
                            <span class="title">全文搜索，个性匹配</span>
                        </div>
                        <div class="desc">
                            <div class="iconfont icon-shalou"></div>
                            <span class="title">记忆功能，主动记忆阅读记录</span>
                        </div>
                    </div>
                    <div class="pv">
                        <div class="title">日均PV</div>
                        <div class="sub-title">显示最近7天PV的总数</div>
                        <div class="charts">
                            <div class="kd-chart broken" id="broken" style="width:900px;height: 300px"></div>
                        </div>
                    </div>
                    <div class="other">
                        <div class="title">推广合作</div>
                        <div class="sub-title">网站内容均来源于网络，如有侵权，可联系我们删除</div>
                        <div class="baseInfo">
                            <span>资源共享，页面简洁，内容丰富，支持广告投放</span>
                            <span>联系方式：915869445@qq.com</span>
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </template>
    </div>
</el-main>
<div th:replace="footer::bottom"></div>
</body>
<script type="text/javascript" src="/js/public.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            tabPosition: 'left',
            broken:{
                xAxis: {
                    type: 'category',
                    data: []
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [],
                    type: 'line',
                    symbolSize: 14,
                    itemStyle: {
                        normal: {
                            color: "#F7941E"
                        }
                    }
                }]
            },
            brokenChart: null,
            time: [],
            num: []
        },
        mounted() {
            var _self = this;
            $.ajax({
                type: "post",
                async: true,
                url: "/seo/num",
                success: function(data){
                    if(data != null){
                        for(var i = data.length - 1; i >= 0; i--){
                            _self.time.push(data[i].sTime);
                            _self.num.push(data[i].num);
                        }
                        _self.broken.xAxis.data = _self.time;
                        _self.broken.series[0].data = _self.num;
                        _self.brokenChart = echarts.init(document.getElementById('broken'));
                        _self.brokenChart.setOption(_self.broken);
                    }
                },
                error: function () {
                    _self.$message({
                        message: "系统错误，请稍后重试。",
                        type: "warning"
                    });
                }
            });
        }
    })
</script>
</html>