<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>可读小说-推广合作</title>
    <link rel="stylesheet" href="/css/index.min.css" />
    <link rel="stylesheet" href="/css/iconfont.css" />
    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/cooperate.css" />
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/index.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div th:replace="header::top"></div>
<el-main id="app">
<div class="info">
    <template>
        <el-tabs :tab-position="tabPosition">
            <el-tab-pane label="日均PV">

            </el-tab-pane>
            <el-tab-pane label="推广合作">
                <div class="link"><i class="iconfont icon-laba"></i>广告投放联系方式：915869445@qq.com</div>
            </el-tab-pane>
        </el-tabs>
    </template>
</div>
</el-main>
<div th:replace="footer::bottom"></div>
</body>
<script type="text/javascript" src="/js/public.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            tabPosition: 'left'
        },
        methods: {

        }
    });
</script>
</html>