<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>可读小说</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div class="stars"></div>
<div class="sun-moon">
    <div class="sun"></div>
    <div class="moon"></div>
</div>
<div id="js-hills" class="background hills"></div>
<div id="js-country" class="background country"></div>
<div id="js-foreground" class="background foreground"></div>
<div class="code">
    <span>4</span>
    <span>0</span>
    <span>4</span>
</div>
</body>
</html>