<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>可读小说</title>
    <link rel="stylesheet" href="/public/css/iview.css" />
    <link rel="stylesheet" href="/public/css/iconfont.css" />
</head>
<body>
<div class="layout">
    <Layout>
        <Header>Header</Header>
        <Content>Content</Content>
        <Footer>Footer</Footer>
    </Layout>
</div>
</body>
<script type="text/javascript" src="/public/js/vue.min.js"/>
<script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"/>
</html>