<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="可读小说，可读网旗下产品。个性化小说网站，简洁，方便，内容丰富"/>
    <title>可读小说</title>
    <link rel="stylesheet" href="/css/index.min.css" />
    <link rel="stylesheet" href="/css/iconfont.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/public.css" />
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/index.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>
<body style="display: none;" v-loading.fullscreen.lock="loading">
    <div th:replace="header::top"></div>
    <el-main id="app">
        <div class="content">
            <div class="content-left">
                <el-menu :default-active="active" class="el-menu-demo" mode="horizontal" @select="handle">
                    <el-menu-item v-for="item in catagorys" :index="item.categoryid">{{item.category}}</el-menu-item>
                </el-menu>
                <div class="nov_info">
                    <el-card shadow="hover" v-for="novel in novelList" :class="infoClass(novel.categoryid)" @click.native="info(novel.novelid)">
                        <div class="base-info">
                            <span v-if="isReco">
                                <span class="classify coatard" v-if="novel.categoryid == 1">修真</span>
                                <span class="classify city" v-else-if="novel.categoryid == 2">都市</span>
                                <span class="classify across" v-else-if="novel.categoryid == 3">穿越</span>
                                <span class="classify fantasy" v-else-if="novel.categoryid == 4">玄幻</span>
                                <span class="classify science" v-else-if="novel.categoryid == 5">科幻</span>
                                <span class="classify game" v-else>网游</span>
                            </span>
                            <span class="name"><a href="#">{{novel.novelname}}</a></span>
                            <span class="updateTime">{{novel.lasttime}}</span>
                        </div>
                        <div class="brief-info">
                            <span>简介：</span>
                            <span v-if="novel.brief != ''">{{novel.brief}}</span>
                            <span v-else>还没获取到该小说的简介，简介只是冰山一角，内容才是真材实料。</span>
                        </div>
                    </el-card>
                    <div class="more" @click="more()">查看更多</div>
                </div>
            </div>
            <div class="content-right">
                <el-collapse v-model="newInfo" accordion class="newInfo">
                    <div class="header">
                        <i class="iconfont icon-icon--1"></i>
                        <span class="title">最新小说</span>
                    </div>
                    <el-collapse-item v-for="(item,index) in newList" :title="item.novelname" :name="index+1">
                        <div>作者：{{item.author}}（{{item.status}}）</div>
                        <div v-if="item.brief != ''">{{item.brief}}</div>
                        <div v-else>还没获取到该小说的简介。</div>
                        <div class="detail">
                            <a href="javascript:void(0);" @click="info(item.novelid)">阅读详情</a>
                        </div>
                    </el-collapse-item>
                </el-collapse>
                <el-collapse v-model="hotInfo" accordion class="hotInfo">
                    <div class="header">
                        <i class="iconfont icon-icon--1"></i>
                        <span class="title">热门小说</span>
                    </div>
                    <el-collapse-item v-for="item in hotList" :title="item.novelname">
                        <div>作者：{{item.author}}（{{item.status}}）</div>
                        <div v-if="item.brief != ''">{{item.brief}}</div>
                        <div v-else>还没获取到该小说的简介。</div>
                        <div class="detail">
                            <a href="javascript:void(0);" @click="info(item.novelid)">阅读详情</a>
                        </div>
                    </el-collapse-item>
                </el-collapse>
                <transition name="el-zoom-in-top">
                    <div class="adv" v-if="advShow">
                        <span class="iconfont icon-close" @click="close()"></span> 广告位
                    </div>
                </transition>
            </div>
        </div>
    </el-main>
    <div th:replace="footer::bottom"></div>
</body>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/public.js"></script>
</html>