<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="可读小说，可读网旗下产品。个性化小说网站，简洁，方便，内容丰富"/>
    <title>可读小说</title>
    <link rel="stylesheet" href="/css/index.min.css" />
    <link rel="stylesheet" href="/css/iconfont.css" />
    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/moreInfo.css" />
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/index.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>
<body style="display: none;">
    <div th:replace="header::top"></div>
    <el-main id="more">
        <div class="topAdv" v-if="advShow">
            <span class="iconfont icon-close" @click="close()"></span> 广告位
        </div>
        <div class="moreInfo">
            <el-menu :default-active="active" class="el-menu-demo" mode="horizontal" @select="handle">
                <el-menu-item v-for="item in catagorys" :index="item.id">{{item.category}}</el-menu-item>
            </el-menu>
        </div>
        <div class="nov_info" v-loading="loading">
            <el-card shadow="hover" v-for="novel in novelList" :class="infoClass(novel.cId)" @click.native="info(novel.id)">
                <div class="base-info">
                    <span v-if="isReco">
                        <span class="classify coatard" v-if="novel.cId == 1">修真</span>
                        <span class="classify city" v-else-if="novel.cId == 2">都市</span>
                        <span class="classify across" v-else-if="novel.cId == 3">穿越</span>
                        <span class="classify fantasy" v-else-if="novel.cId == 4">玄幻</span>
                        <span class="classify science" v-else-if="novel.cId == 5">科幻</span>
                        <span class="classify game" v-else>网游</span>
                    </span>
                    <span class="name"><a href="#">{{novel.name}}</a></span>
                    <span class="updateTime">{{novel.update}}</span>
                </div>
                <div class="brief-info">
                    <span>简介：</span>
                    <span v-if="novel.brief != ''" v-html="novel.brief" :title="novel.brief"></span>
                    <span v-else>还没获取到该小说的简介。</span>
                </div>
            </el-card>
        </div>
        <el-pagination background layout="prev, pager, next" :page-size="15" :total="counts" @current-change="pageInfo"></el-pagination>
    </el-main>
    <div th:replace="footer::bottom"></div>
</body>
<script type="text/javascript" src="/js/moreInfo.js"></script>
<script type="text/javascript" src="/js/public.js"></script>
</html>