<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
   <title th:text="${novel.getNovelName()}" th:if="${novel!=null}">小说名字</title>
</head>
<body>
<h1 th:text="${novel.getNovelName()}" th:if="${novel!=null}">小说名字</h1>
<div th:if="${novel!=null}">
    <p th:text="作者+':'+${novel.getAuthor()}" ></p>
    <p th:text="类别+':'+${novel.getCategory().getCategory()}" th:if="${novel.getCategory()!=null}"></p>
    <p th:text="简介+':'+${novel.getBrief()}"></p>
    <p>hee</p>
</div>

</body>
</html>