<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>templates 测试页</title>
</head>
<body>
<div>当前页号：<span th:text="${pageInfo.pageNum}"></span></div>
<div>每页条数：<span th:text="${pageInfo.pageSize}"></span></div>
<div>起始行号(>=)：<span th:text="${pageInfo.startRow}"></span></div>
<div>终止行号(<=)：<span th:text="${pageInfo.endRow}"></span></div>
<div>总结果数：<span th:text="${pageInfo.total}"></span></div>
<div>总页数：<span th:text="${pageInfo.pages}"></span></div>
<hr />
<div>是否为第一页：<span th:text="${pageInfo.isFirstPage}"></span></div>
<div>是否为最后一页：<span th:text="${pageInfo.isLastPage}"></span></div>
<div>是否有前一页：<span th:text="${pageInfo.hasPreviousPage}"></span></div>
<div>是否有下一页：<span th:text="${pageInfo.hasNextPage}"></span></div>
<hr />
<h3>文章列表</h3>
<div>
    <ul>
        <li th:each="prod : ${pageInfo.list}">
            <a href="#" th:text="${prod.title}"></a>
        </li>
    </ul>
</div>
<hr />
<table class="gridtable" style="width:100%;text-align: center;">
    <tr>
        <td th:if="${pageInfo.hasPreviousPage}">
            <a th:href="'?page=1'">首页</a>
        </td>
        <td th:if="${pageInfo.hasPreviousPage}">
            <a th:href="'?page='+${pageInfo.prePage}">上一页</a>
        </td>
        <td th:each="nav : ${pageInfo.navigatepageNums}">
            <a th:href="'?page='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
            <span style="font-weight: bold" th:if="${nav == pageInfo.pageNum}" th:text="${nav}"></span>
        </td>
        <td th:if="${pageInfo.hasNextPage}">
            <a th:href="'?page='+${pageInfo.nextPage}">下一页</a>
        </td>
        <td th:if="${pageInfo.hasNextPage}">
            <a th:href="'?page='+${pageInfo.pages}">尾页</a>
        </td>
    </tr>
</table>
</body>
</html>