<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>可读小说</title>
	<link rel="stylesheet" type="text/css" href="/css/mobi/index.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/mobi/public.css"/>
	<link rel="stylesheet" type="text/css" href="/css/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="/css/mobi/info.css"/>
	<script type="text/javascript" src="/js/vue.min.js"></script>
	<script type="text/javascript" src="/js/mobi/index.min.js"></script>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div id="novel">
	<mt-header th:title="${title}" fixed>
		<router-link slot="left">
			<mt-button icon="back" @click="toBack"></mt-button>
		</router-link>
		<mt-button icon="more" slot="right"></mt-button>
	</mt-header>
	<div class="kd_content" v-if="!loading">
		<div class="title" v-html="name"></div>
		<div class="info" v-html="content"></div>
		<div class="page">
			<span class="pre" @click="pre" v-if="showPre">上一章</span>
			<span class="next" @click="next" v-if="showNext">下一章</span>
		</div>
	</div>
	<div class="loading" v-if="loading">
		<mt-spinner :type="2" :size="35" color="#F7941E"></mt-spinner>
	</div>
	<div class="tip" v-if="showTip">
		<span>如果您喜欢我们网站，可帮忙点广告支持下</span>
		<span class="iconfont icon-close" @click="closeTip"></span>
	</div>
	<footer class="footer">Copyright &copy; 2017-2018 可读网 粤ICP备17005112号</footer>
</div>
</body>
<script type="text/javascript">
    var info = {
        nId: [[${nId}]],
        cId: [[${cId}]],
		start: [[${start}]],
		end: [[${end}]]
    }
</script>
<script type="text/javascript" src="/js/mobi/info.min.js"></script>
</html>