<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novel.dao.ChapterMapper">


    <!--根据小说id返回章节列表 -->
    <select id="findByNovelIdChapter0" parameterType="long" resultType="com.novel.model.Chapter">
        SELECT * FROM chapterInfo0 WHERE NovelId = #{NovelId};
    </select>


    <!--新增章节信息 -->
    <insert id = "insertChapter0" parameterType="com.novel.model.Novel">
        INSERT INTO chapterInfo0(novelId,chapter,content,chapterUrl)
        VALUES(#{novelId},#{chapter},#{content},#{chapterUrl});
    </insert>




    <!--根据chapterId更新章节名字以及内容 -->
    <update id="updateChapter0" parameterType="com.novel.model.Chapter">
        UPDATE chapterInfo0 SET chapter = #{chapter},content = #{content}
        WHERE chapterId = #{chapterId} AND chapter is null;
    </update>





</mapper>