<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keduw.dao.IpinfoMapper">
    <resultMap id="BaseResultMap" type="com.keduw.model.Ipinfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, num, time, type
    </sql>
    <select id="selectInfoByList" parameterType="java.util.Date" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ipinfo where time &lt; #{date} ORDER BY id desc limit 0,7
    </select>
    <insert id="insertInfo" parameterType="com.keduw.model.Ipinfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ipinfo(num, time) VALUES (#{num}, #{time})
    </insert>
</mapper>