<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keduw.dao.NovelMapper">
    <resultMap id="BaseResultMap" type="com.keduw.model.Novel">
        <id column="novelId" jdbcType="INTEGER" property="novelid"/>
        <result column="novelName" jdbcType="VARCHAR" property="novelname"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="categoryId" jdbcType="INTEGER" property="categoryid"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="lastTime" jdbcType="VARCHAR" property="lasttime"/>
        <result column="novelUrl" jdbcType="VARCHAR" property="novelurl"/>
        <result column="chapterSize" jdbcType="INTEGER" property="chaptersize"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.keduw.model.Novel">
        <result column="brief" jdbcType="LONGVARCHAR" property="brief"/>
    </resultMap>
    <sql id="Base_Column_List">
        novelId, novelName, author, categoryId, status, lastTime, novelUrl, chapterSize, brief
    </sql>
    <!--新增小说详细信息 -->
    <insert id = "insertNovel" parameterType="com.keduw.model.Novel">
        INSERT INTO novel(novelId,novelName,author,categoryId,brief,status,lastTime,novelUrl,chapterSize)
        VALUES(#{novelId},#{novelName},#{author},#{categoryId},#{brief},#{status},#{lastTime},#{novelUrl},#{chapterSize})
    </insert>
    <!--通过小说名字查找小说-->
    <select id="selectNovelByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM  novel WHERE novelName Like #{novelName}
    </select>
    <!--通过小说id查找小说-->
    <select id="selectNovelById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM  novel WHERE novelId = #{novelId}
    </select>
    <!--查询所有小说的列表-->
    <select id="selectNovel" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM  novel ORDER BY novelId DESC
    </select>
    <!--根据类别查询小说列表-->
    <select id="selectNovelByCategory" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM novel WHERE categoryId=#{categoryId} ORDER BY novelId DESC
    </select>
    <!-- 返回全部小说信息-->
    <select id="seletAllNovelInfo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM novel
    </select>
    <!-- 查询最新小说-->
    <select id="seletNewNovelInfo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM novel ORDER BY lastTime DESC
    </select>
    <!-- 查询热门小说-->
    <select id="seletHotNovelInfo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM novel ORDER BY chapterSize DESC
    </select>
</mapper>