<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novel.dao.NovelMapper">
    <resultMap id="NovelResultMap" type="com.novel.model.Novel">
        <id column="novelId"   jdbcType="BIGINT" property="novelId" javaType="java.lang.Long"/>
        <result column="novelName" jdbcType="VARCHAR" property="novelName" />
        <result column="author" jdbcType="VARCHAR" property="author" />
        <result column="categoryId" jdbcType="INTEGER" property="categoryId" />
        <result column="brief" jdbcType="VARCHAR" property="brief" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="lastTime" jdbcType="VARCHAR" property="lastTime" />
        <result column="novelUrl" jdbcType="VARCHAR" property="novelUrl" />
        <result column="chapterSize" jdbcType="VARCHAR" property="chapterSize" />
        <association property="category" javaType="com.novel.model.CategoryInfo">
            <result column="categoryId" jdbcType="INTEGER" property="categoryId"/>
            <result column="category"   jdbcType="VARCHAR" property="category"/>

        </association>
    </resultMap>

    <!--返回全部小说id-->
    <select id = "findAllNovelId" resultType="Long" >
        SELECT novelId FROM  novelInfo;
    </select>
    <!--返回全部小说信息-->
    <select id = "findAllNovel" resultMap="NovelResultMap" >
      SELECT * FROM  novelInfo,categoryInfo WHERE
       novelInfo.categoryId = categoryInfo.categoryId;
    </select>
    <!--通过小说名字查找小说-->
    <select id="findNovelByName" parameterType="String" resultMap="NovelResultMap">

        SELECT * FROM  novelInfo,categoryInfo WHERE novelName Like #{novelName}
        and novelInfo.categoryId = categoryInfo.categoryId ;


    </select>
    <!--通过小说id查找小说-->
    <select id="findNovelById" parameterType="long" resultMap="NovelResultMap">

         SELECT * FROM  novelInfo,categoryInfo WHERE novelId Like #{novelId}
        and novelInfo.categoryId = categoryInfo.categoryId ;

    </select>

    <!--新增小说详细信息 -->
    <insert id = "insertNovel" parameterType="com.novel.model.Novel">
        INSERT INTO novelInfo(novelId,novelName,author,categoryId,brief,status,lastTime,novelUrl,chapterSize)
        VALUES(#{novelId},#{novelName},#{author},#{categoryId},#{brief},#{status},#{lastTime},#{novelUrl},#{chapterSize});
    </insert>









</mapper>