<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keduw.dao.NovelMapper">
    <resultMap id="BaseResultMap" type="com.keduw.model.Novel">
        <id column="novelId" jdbcType="INTEGER" property="novelId"/>
        <result column="novelName" jdbcType="VARCHAR" property="novelName"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="categoryId" jdbcType="INTEGER" property="categoryId"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="lastTime" jdbcType="VARCHAR" property="lastTime"/>
        <result column="novelUrl" jdbcType="VARCHAR" property="novelUrl"/>
        <result column="chapterSize" jdbcType="INTEGER" property="chapterSize"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.keduw.model.Novel">
        <result column="brief" jdbcType="LONGVARCHAR" property="brief"/>
    </resultMap>
    <sql id="Base_Column_List">
        novelId, novelName, author, categoryId, status, lastTime, novelUrl, chapterSize, brief
    </sql>
    <!--新增小说详细信息，返回新插入的主键 -->
    <insert id="insertNovel" parameterType="com.keduw.model.Novel" useGeneratedKeys="true" keyProperty="novelId">
        INSERT INTO novel(novelName,author,categoryId,brief,status,lastTime,novelUrl,chapterSize)
        VALUES(#{novelName},#{author},#{categoryId},#{brief},#{status},#{lastTime},#{novelUrl},#{chapterSize})
    </insert>
    <!--通过小说名字查找小说-->
    <select id="selectNovelByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM  novel WHERE novelName Like #{novelName}
    </select>
    <!--通过小说id查找小说-->
    <select id="selectNovelById" parameterType="java.lang.Integer" resultType="com.keduw.model.Novel">
        SELECT
        <include refid="Base_Column_List" />
        FROM  novel WHERE novelId = #{novelId}
    </select>
    <!--查询所有小说的列表-->
    <select id="selectNovel" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM  novel ORDER BY novelId DESC
    </select>
    <!--根据类别查询小说列表-->
    <select id="selectNovelByCategory" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM novel WHERE categoryId=#{categoryId} ORDER BY novelId DESC
    </select>
    <!-- 返回全部小说信息-->
    <select id="seletAllNovelInfo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM novel
    </select>
    <!-- 查询最新小说-->
    <select id="seletNewNovelInfo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM novel ORDER BY lastTime DESC
    </select>
    <!-- 查询热门小说 -->
    <select id="seletHotNovelInfo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM novel ORDER BY chapterSize DESC
    </select>
    <!-- 通过名字和作者获取小说信息 -->
    <select id="selectInfoByName" resultType="com.keduw.model.Novel">
        SELECT
        <include refid="Base_Column_List" />
        FROM novel WHERE novelname = #{name} AND author = #{author}
    </select>
    <!-- 查询小说总数 -->
    <select id="selectInfoCount" resultType="java.lang.Integer">
        SELECT count(novelId) FROM novel
    </select>
    <!-- 查询某个类别的小说总数 -->
    <select id="selectInfoCountByCategory" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(novelId) FROM novel where categoryId = #{category}
    </select>
</mapper>