<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keduw.mapper.RecordMapper">
  <resultMap id="BaseResultMap" type="com.keduw.model.Record">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uId" jdbcType="INTEGER" property="uId" />
    <result column="nId" jdbcType="INTEGER" property="nId" />
    <result column="cId" jdbcType="INTEGER" property="cId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uId, nId, cId
  </sql>
  <select id="selectByNovelId" resultType="java.lang.Integer">
    select cId from record
    where uId = #{userId} AND nId = #{novelId}
  </select>

</mapper>